@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.text {
 float: left;
 width: 225px;
 font-size: 16px;
 margin-left: 50px;
 box-sizing: border-box;
}
.q7__box:first-child {
  margin-left: 0;
}

/* 回答はここに書いてね */
