@charset "UTF-8";

/* 回答はここに書いてね */
.q5__content__box {
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  position: relative;
  margin: 0 auto;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
}
.box-8 {
  width: 100px;
  height: 100px;
  background-color: #de70cf;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 8;
}
.box-8::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  content: "";
}
.box-5 {
  width: 100px;
  height: 100px;
  background-color: #9fd6d2;
  position: absolute;
  bottom: 40px;
  left: 200px;
  z-index: 5;
}
.box-1 {
  width: 100px;
  height: 100px;
  background-color: #ffefd3;
  position: absolute;
  top: 40px;
  left: 200px;
  z-index: 1;
}
.box-7 {
  width: 100px;
  height: 100px;
  background-color: #deae70;
  position: absolute;
  top: 200px;
  left: 40px;
  z-index: 7;
}
.box-4 {
  width: 100px;
  height: 100px;
  background-color: #8b7a5e;
  position: absolute;
  bottom: 120px;
  right: 120px;
  z-index: 4;
}
.box-6 {
  width: 100px;
  height: 100px;
  background-color: #fffee4;
  position: absolute;
  bottom: 120px;
  left: 120px;
  z-index: 6;
}
.box-2 {
  background-color: #7084de;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 120px;
  right: 120px;
  z-index: 2;
}
.box-3 {
  width: 100px;
  height: 100px;
  background-color: #d0ecea;
  position: absolute;
  top: 200px;
  right: 40px;
  z-index: 3;
}
.box-9 {
  width: 100px;
  height: 100px;
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
}
/* 回答はここに書いてね */