@charset "UTF-8";

/* 回答はここに書いてね */
table {
  width: 100%;
  text-align: center;
}
th {
  background-color: #2244aa;
  color: #ffffff;
  border: solid #dedede 1px;
  font-size: 18px;
  padding: 10px;
}
td {
  padding: 10px;
  border: solid #dedede 1px;
  font-size: 16px;
  line-height: 22px;
}
table tr td:nth-of-type(1){
  background-color: #2244aa;
  color: #ffffff;
  font-size: 16px;
}
.cell:last-child {
  border-top: dashed #000 2px;
}
.block:nth-child(n+1) {
  background-color: #ecf1f2;
}


/* 回答はここに書いてね */
