@charset "UTF-8";

/* 回答はここに書いてね */
.q8__trans {
  margin:  0 auto;
  width: 500px;
  height: 333px;
  overflow: hidden;
  position: relative;
}
.q8__trans__car {
  transition: all 0.5s;
}
.q8__trans__car:hover {
  transform: scale(1.5);
  transition: all 0.5s;
}
.q8__trans__block {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.q8__trans__block__text {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #ffffff;
}
/* 回答はここに書いてね */
