@charset "UTF-8";

/* 回答はここに書いてね */
.q8__trans {
  position: relative;
  margin:  0 auto;
  width: 500px;
  height: 333px;
  overflow: hidden;
}
.q8__trans__car:hover {
  transition: all 0.5s;
  transform: scale(1.5);
}
.q8__trans__block:hover {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.q8__trans__block__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #ffffff;
  box-sizing: border-box;
  word-break: break-all;
}
/* 回答はここに書いてね */
